{% extends 'base.html' %}

{% block content %}
<h1><strong>Signup</strong></h1>

<form method="post">
    <label>Username
        <input type="text" name="username">{{username}}</input>
    </label>
    <label>Password
        <input type="password" name="password_top">{{password_top}}</input>
    </label>
    <label>Verify Password
        <input type="password" name="password_bot">{{password_bot}}</input>
    </label>
    <label>
        <input type="text" name="email">{{email}}</input>
    </label>
    <input type="submit" value="Submit" />
</form>

{% endblock %}